*
!.dockerignore
!.gitignore
!LICENSE
!README.md
!main.py
!helpers.py
!webapp
!webapp/**
!sleep_logs.csv
!*.ipynb
!requirements.txt
!.env_sample
!.env_sample_docker
!start_docker.sh
!build_docker_web.sh
!build_docker_worker.sh
webapp/node_modules
webapp/build